In [103]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [104]:
cars = pd.read_csv(r"C:\Users\BHAVIKKSVSS\Desktop\ToyotaCorolla.csv")

cars.tail()

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
1431,7500,69,20544,Petrol,86,1,0,1300,3,1025
1432,10845,72,19000,Petrol,86,0,0,1300,3,1015
1433,8500,71,17016,Petrol,86,0,0,1300,3,1015
1434,7250,70,16916,Petrol,86,1,0,1300,3,1015
1435,6950,76,1,Petrol,110,0,0,1600,5,1114

In [105]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 10 columns):
Price        1436 non-null int64
Age          1436 non-null int64
KM           1436 non-null int64
FuelType     1436 non-null object
HP           1436 non-null int64
MetColor     1436 non-null int64
Automatic    1436 non-null int64
CC           1436 non-null int64
Doors        1436 non-null int64
Weight       1436 non-null int64
dtypes: int64(9), object(1)
memory usage: 112.3+ KB

In [106]:
feature_cols = ['KM','Weight','HP','FuelType','CC','Age'] 
x = cars[feature_cols] # predictor
y = cars.Price
x.head()

      KM  Weight  HP FuelType    CC  Age
0  46986    1165  90   Diesel  2000   23
1  72937    1165  90   Diesel  2000   23
2  41711    1165  90   Diesel  2000   24
3  48000    1165  90   Diesel  2000   26
4  38500    1170  90   Diesel  2000   30

In [107]:
y

0       13500
1       13750
2       13950
3       14950
4       13750
5       12950
6       16900
7       18600
8       21500
9       12950
10      20950
11      19950
12      19600
13      21500
14      22500
15      22000
16      22750
17      17950
18      16750
19      16950
20      15950
21      16950
22      15950
23      16950
24      16250
25      15950
26      17495
27      15750
28      16950
29      17950
        ...
1406     8950
1407     8250
1408     9250
1409     7900
1410     8500
1411     7950
1412     9950
1413     8750
1414     7500
1415     6950
1416     8950
1417     8750
1418     7750
1419     8450
1420     8150
1421     8500
1422     7600
1423     7950
1424     7750
1425     7950
1426     9950
1427     8950
1428     8450
1429     8950
1430     8450
1431     7500
1432    10845
1433     8500
1434     7250
1435     6950
Name: Price, Length: 1436, dtype: int64

In [108]:
x=pd.get_dummies(x,drop_first=True)

In [109]:
x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.2)

In [110]:
linreg = LinearRegression()
linreg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [111]:
linreg.score(x_test,y_test)

0.8965318972243161